@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*---------- HEADER ----------*/
header {
  background-color: #f9f6ee;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link img {
  height: 6.6em;
}
.btn-nav {
  border: transparent;
  background: transparent;
  color: #007a4b;
  font-size: 1.5rem;
}
.btn-rotation {
  transform: rotate(90deg);
}
.nav-links {
  display: none;
}
.nav-open {
  display: flex;
  flex-direction: column;
}
.nav-link {
  font-family: "Poppins", serif;
  list-style: none;
  margin: 20px 0;
  border-bottom: 2px solid #00704a;
  width: 8rem;
}
.nav-link a {
  color: #00704a;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 150%;
}

/*----------- FOOTER ----------*/
footer {
  background-color: #f9f6ee;
  border-top: #00593c 5px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-contenedor {
  display: flex;
  align-items: center;
}
.footer-contenedor__logo img {
  object-fit: contain;
  width: 150px;
  height: auto;
}
.footer-contenedor p {
  margin: 10px 0px 0px 30px;
  font-family: sans-serif;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.logo-red__social {
  object-fit: contain;
  width: 35px;
  height: auto;
  margin-right: 20px;
}
@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .btn-nav {
    display: none;
  }
  .nav-links {
    display: inline;
  }
  .nav-links ul {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }
  .nav-link {
    border-bottom: 0;
    text-align: center;
    margin: 0px 20px;
  }
  .nav-link a {
    text-transform: uppercase;
    padding-bottom: 26%;
  }
  .nav-link a:hover {
    font-weight: bolder;
    color: #00593c;
    border-bottom: 4px solid #00593c;
  }
}
